@import '@/common/style/_var.scss';
@import '@/common/style/base.scss';
.site-header{
    padding: rem(10) rem(50) 0 rem(10);
    box-sizing: border-box;
    height: 100%;
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574164820486&di=cc28398061340e31230c144816c5fe3f&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201710%2F20%2F20171020142957_Lyihf.jpeg') no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        background: #000;
        opacity: 0.3;
    }
    .header-photo{
        text-align: right;
        margin-bottom: rem(30);
        position: relative;
    }
    .photo{
        width: rem(80);
        height: rem(80);
        display: inline-block;
        border-radius: 100%;
        background: #000 url('http://b-ssl.duitang.com/uploads/item/201804/06/20180406171451_FfmKw.jpeg') no-repeat center;
        background-size:cover;
        margin: rem(80) auto 0;
    }
    .header-name{
        font-size:rem(30);
        color:#fff;
        text-align: right;
        margin-bottom: rem(10);
        position: relative;
    }
    .header-msg{
        font-size:rem(15);
        color:#ccc;
        text-align: right;
        margin-bottom: rem(10);
        position: relative;
    }
}