$navbar-light-brand-color: #fff;
.site-header.navbar{
    .navbar-brand{
        .site-log{
            width: 5rem;
            height: 5rem;
            background: url('res/logo.jpg') no-repeat center;
            background-size: cover;
        }
    }
}